<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../lib/vue.js"></script>
  </head>
  <body>
    <div id="box">
      <div>根组件标题</div>
      <navbar
        :navlist="navlist"
        @myevent="toggleBgColor"
        :current="current"
      ></navbar>
      <brother :navlist="navlist" :current="current"></brother>
      <brother-he></brother-he>
    </div>
    <script>
      /* 父传子
      1:props:['属性名']   属性名用驼峰写法，动态绑定的时用 :is-show='isShow'
      2:props:{属性名:数据类型}
      3:props:{属性名:{type:数据类型.default:默认值}}
      */
      /* 子传父 自定义事件
      1:父组件把方法通过事件传给子组件 @myevent="toggleBgColor"，方法里可以得到子组件传来的参数，可以操作父组件的属性
      2:子组件触发父组件传来的事件 this.$emit("myevent",子组件传参给父组件事件绑定的方法);
      */
      /* 兄弟组件、叔侄通信
      1.自定义事件+props
      2. bus=new Vue() 中央事件总线（订阅发布模式：订阅者bus.$on('事件名',()=>{})；发布者bus.$emit('事件名',传参)）
      */
     /*
     注意：
     1.父组件传的状态，不允许子组件随意修改
     2.子组件的内容都为静态时，可给根节点加一个 v-once
     */
      var bus = new Vue();
      Vue.component("navbar", {
        props: {
          navlist: Array,
          current: {
            type: Number,
            default: 1,
          },
          toggleBgColor: Function,
        },
        template: `<ul style="list-style:none;display:flex;justify-content:space-between;width:350px;height:30px;align-items:center">
            <li v-for="(navname,index) in navlist" :key="index"
            :style="{width:'80px',height:'30px',lineHeight:'30px',textAlign:'center',cursor: 'pointer',backgroundColor:index===current?'green':'#ffffff'}"
            @click="handleClick(index)">
                <item :navname="navname" :current="current"></item>
                </li>
            </ul>`,
        methods: {
          handleClick(newCurrent) {
            // 触发自定义事件，调用事件绑定的父组件的方法，把子组件的参数传给父组件的方法

            this.$emit("myevent", newCurrent);
            // 发布者
            bus.$emit(
              "brotherHe",
              this.navlist.filter((i, index) => index === newCurrent)[0] || ""
            );
            console.log(newCurrent);
          },
        },
        mounted() {
          // props里的属性的获取与使用
          //   console.log(this._props);
        },
        components: {
          item: {
            props: ["navname"],
            template: `<span style="inline-block;">{{navname}}</span>`,
            mounted() {
              // props里的属性的获取与使用
              //   console.log(this._props);
              //   console.log(this.navname, this._props.navname);
            },
          },
        },
      });
      Vue.component("brother", {
        data() {
          return {};
        },
        props: ["current", "navlist"],
        computed: {
          currentNav() {
            return (
              this.navlist.filter((i, index) => index === this.current)[0] || ""
            );
          },
        },
        template: `<div>{{currentNav}}</div>`,
      });
      Vue.component("brotherHe", {
        data() {
          return { currentNav: "" };
        },
        template: `<div>{{currentNav}}</div>`,
        mounted() {
          // 订阅者
          bus.$on("brotherHe", (currentNav = "") => {
            console.log(currentNav);
            this.currentNav = currentNav + "bus";
          });
        },
      });
      new Vue({
        el: "#box",
        data: { current: 1, navlist: ["电影", "电视剧", "综艺", "动漫"] },
        methods: {
          toggleBgColor(newCurrent) {
            this.current = newCurrent;
            console.log(newCurrent);
          },
        },
      });
    </script>
  </body>
</html>
