<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../lib/vue.js"></script>
  </head>
  <body>
    <div id="box">
      <!-- 条件渲染 -->
      <ul>
        <li v-for="item in list">
          {{item.data}}
          <span v-if="item.status===0">待发货</span>
          <span v-else-if="item.status===1">已发货</span>
          <span v-else-if="item.status===2">待收货</span>
          <span v-else>已收货</span>
        </li>
      </ul>

      <!-- template 不破坏所包含dom树与其上级节点的层级关系起到dom块处理作用，浏览器观察elements-->
      <template v-if="isCreated">
        <div>aaa</div>
        <div>bbb</div>
        <div>ccc</div>
      </template>

      <!-- 列表渲染 -->
      <!-- v-for in/of 都可以遍历数组和对象-->
      <!-- item是元素，index是元素下标 -->
      <ul>
        <li v-for="(item,index) of arr">{{index}}-{{item}}</li>
      </ul>
      <!-- value是键值，key是键名 -->
      <ul>
        <li v-for="(value,key) of obj">{{key}}-{{value}}</li>
      </ul>
      <!-- 数字顺序增加1-10 -->
      <ul>
        <li v-for="v of 10">{{v}}</li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#box",
        data: {
          isCreated: true,
          list: [
            { data: "111", status: 0 }, // 待发货
            { data: "222", status: 1 }, // 已发货
            { data: "333", status: 2 }, // 待收货
            { data: "444", status: 3 }, // 已收货
          ],
          arr: ["11", "12", "13", "14"],
          obj: { a: 1, b: 2, c: 3, d: 4 },
        },
        methods: {},
      });
    </script>
  </body>
</html>
